@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins";
}

/*BEGIN - CUSTOM SCROLL BAR*/

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #232323;
}

::-webkit-scrollbar-thumb {
    background-color: #BE9500;
}

::-webkit-scrollbar-button {
    background-color: #4B4B4B;
}

::-webkit-scrollbar-corner {
    background-color: #6F6F6F;
}

/*ENDED - CUSTOM SCROLL BAR*/

/*BEGIN - GLOBAL BUTTON STYLE & ANIMATION*/

/*BEGIN - GLOBAL LEAN_MORE STYLE*/

a[href="#LearnMore"]{
    text-decoration: none;
}

/*ENDED - GLOBAL LEAN_MORE STYLE*/

button[type="button"] {
    position: relative;
    width: 165px;
    height: 50px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.5s linear, color 0.5s linear;
}

button[type="button"]::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    transition: border 0.5s linear;
}

button[type="button"]:hover {
    background-color: #6F6F6F;
    color: #FFFFFF;
}

button[type="button"]:hover::before {
    border: 1px solid #6F6F6F;
    animation: pulse 1.3s linear infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.23);
        opacity: 0;
    }
}

/*ENDED - GLOBAL BUTTON STYLE & ANIMATION*/

/*BEGIN - HEADER ELEMENTS*/
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #FFC900;
    background-image: url("../img/landing/headphone1920x1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*BEGIN - HIDDEN NAVBAR SECTION*/

.h-hidden-navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.fa-custom-navbar {
    font-size: 24px;
    padding: 16px;
    cursor: pointer;
}

.h-hidden-navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 199, 105, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
    z-index: 1;
}

.h-hidden-navbar>ul {
    list-style-type: none;
    margin-bottom: 22px;
}

.h-hidden-navbar>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-hidden-navbar>ul>li:not(:last-of-type) {
    margin-bottom: 12px;
}

.h-hidden-navbar>ul>li>a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #232323;
    transition: color 0.3s linear;
}

.h-hidden-navbar>ul>li>a:hover {
    color: #849BAA;
}

.h-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.fa-custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.5s linear, border 0.5s linear;
}

.fa-custom-btn:hover {
    color: #232323;
    border: 1px solid #232323;
}

.fa-custom-btn:not(:last-of-type) {
    margin-right: 8px;
}

.btn-nav {
    width: 150px !important;
    height: 40px !important;
    margin-bottom: 16px !important;
}

/*ENDED - HIDDEN NAVBAR SECTION*/

.h-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8%;
}

.h-description>p {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #232323;
    margin-bottom: 16px;
}

.h-description>h1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: #232323;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 16px;
}

/*ENDED - HEADER ELEMENTS*/

/*BEGIN - MAIN ELEMENTS*/

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

.m-description{
    display: flex;
    flex-direction: column;
    max-width: 1152px;
    margin: 64px 0px;
}

.m-description>h1{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 24px;
}

.m-description>p{
    font-size: 15px;
    text-indent: 20px;
    text-align: justify;
    line-height: 28px;
}

.m-recommended{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFC862;
    width: 100%;
    padding: 32px;
}

.m-recommended>h1{
    color: #FFFFFF;
}

/*BEGIN - CONTENT & CARD ELEMENTS*/
/*************************************************************************************/
/*ENDED - CONTENT & CARD ELEMENTS*/

/*ENDED - MAIN ELEMENTS*/