/*BEGIN - GLOBAL INTERNAL STYLE*/

@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Poppins";
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #232323;
}

::-webkit-scrollbar-thumb {
    background-color: #BE9500;
}

::-webkit-scrollbar-button {
    background-color: #4B4B4B;
}

::-webkit-scrollbar-corner {
    background-color: #6F6F6F;
}

/*ENDED - GLOBAL INTERNAL STYLE*/

/*BEGIN - GLOBAL EXTERNAL STYLE*/

a[data-type="learn-more"] {
    text-decoration: none;
    color: #FFC900;
}

button[type="button"] {
    position: relative;
    width: 165px;
    height: 50px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.5s linear, color 0.5s linear;
}

button[type="button"]::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    transition: border 0.5s linear;
}

button[type="button"]:hover {
    background-color: #6F6F6F;
    color: #FFFFFF;
}

button[type="button"]:hover::before {
    border: 1px solid #6F6F6F;
    animation: pulse 1.3s linear infinite;
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.23);
        opacity: 0;
    }
}

/*ENDED - GLOBAL EXTERNAL STYLE*/

/*BEGIN - HEADER SECTION*/

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #FFC900;
    background-image: url("../img/landing/headphone1920x1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*BEGIN - HIDDEN NAVBAR SECTION*/

.h-hidden-navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.fa-custom-navbar {
    font-size: 24px;
    padding: 16px;
    cursor: pointer;
}

.h-hidden-navbar {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 199, 105, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s linear;
    z-index: 1;
}

.h-hidden-navbar>ul {
    list-style-type: none;
    margin-bottom: 32px;
}

.h-hidden-navbar>ul>li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-hidden-navbar>ul>li:not(:last-of-type) {
    margin-bottom: 20px;
}

.h-hidden-navbar>ul>li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: #DCAC00;
    border-radius: 3px;
    transition: width 0.3s linear;
}

.h-hidden-navbar>ul>li:hover::before {
    width: 100%;
}

.h-hidden-navbar>ul>li>a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #232323;
    padding: 7px;
    z-index: 1;
}

.h-hn-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.fa-h-hn-social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s linear, border 0.3s linear;
}

.fa-h-hn-social-btn:not(:last-of-type) {
    margin-right: 12px;
}

.fa-h-hn-social-btn:hover {
    color: #232323;
    border: 1px solid #232323;
}

#h-hn-btn {
    width: 150px !important;
    height: 40px !important;
}

/*ENDED - HIDDEN NAVBAR SECTION*/

.h-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height: 100%;
    margin-left: 7%;
}


.h-description>p {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
}

.h-description>h1 {
    font-size: 3.2rem;
    font-weight: bold;
    color: #333333;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 16px;
}

/*ENDED - HEADER SECTION*/

/*BEGIN - MAIN SECTION*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

.m-description {
    display: flex;
    flex-direction: column;
    max-width: 1152px;
    margin: 64px 0px;
}

.m-description>h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 32px;
}

.m-description>p {
    font-size: 15px;
    text-align: justify;
    text-indent: 20px;
    line-height: 28px;
}

.m-recommended-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFC862;
    width: 100%;
    padding: 32px;
}

.m-recommended-first>h1 {
    color: #FFFFFF;
}

/*BEGIN - CONTENT & CARD SECTION*/

.m-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1152px;
    margin: 64px 0px;
}

.mc-hottest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.mc-hottest>h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: #232323;
    margin-bottom: 32px;
}

.mc-hottest-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.mc-hottest-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.mc-hottest-card-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc-hottest-card-body>img {
    width: 100%;
}

.mc-hottest-card-description {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #FFC862;
    font-size: 0.875rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: #232323;
    border-radius: 30px;
    padding: 10px 15px;
}

.mc-hottest-card-footer {
    background-color: #FFC862;
    padding: 20px;
}

.mc-hottest-card-footer>h1 {
    font-size: 1.0625rem;
    text-transform: uppercase;
    color: #232323;
}

.mc-hottest-card-footer>p {
    color: #FFFFFF;
    margin-top: 6px;
}

.mc-new {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 64px;
}

.mc-new>h1 {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 32px;
}

.mc-new-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.mc-new-card>img {
    width: 280px;

}

/*ENDED - CONTENT & CARD SECTION*/


/*REDDDDDDDDDDDDDDACT THIS CODE************************************************THIS CODE FOR EDIT!!**************/
/*I'm tired I can't think anymore sorry :(*/
.m-recommended-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFC862;
    align-content: flex-start;
    text-align: left;
    width: 100%;
}
/*I'm tired I can't think anymore sorry :(*/
/*REDDDDDDDDDDDDDDACT THIS CODE************************************************THIS CODE FOR EDIT!!**************/

/*BEGIN - LENDING SECTION*/

.mc-lending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mc-lending>h1{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 32px;
}

/*I'm tired I can't think anymore sorry :(*/
.mc-lending-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*I'm tired I can't think anymore sorry :(*/

/*ENDED - LENDING SECTION*/

/*ENDED - MAIN SECTION*/